<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Hi {{currentUser}} - Room: {{currentRoom}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<tabset>
				<tab ng-repeat="t in tabData"
						ui-sref="{{t.route}}" active="t.active"
						select="go(t.route, t.params)">
					<tab-heading>
						{{t.heading}}
						<a ng-click="closeTab(t)" ng-show="t.closable">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</tab-heading>
				</tab>
			</tabset>
			<div ui-view></div>
		</div>
		<div class="col-md-3">
			<div ng-show="currentOps.length > 0">
				<h4>Operators</h4>
				<div class="well">
					<ul>
						<li ng-repeat="op in currentOps">
							<a data-ng-click="privateMessage(op)">{{op}}</a>
						</li>
					</ul>
				</div>
			</div>
			<h4>Users in this room</h4>
			<div class="well">
				<ul>
					<li ng-repeat="user in currentUsers">
						<a data-ng-click="privateMessage(user)">{{user}}</a>
						<a data-ng-click="kickUser(user)" data-ng-hide="isUserOrOp(user)">Kick</a>
						<a data-ng-click="banUser(user)" data-ng-hide="isUserOrOp(user)">Ban</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
