<div class="alert alert-danger" ng-cloak ng-show="errorMessage !== ''">
	{{errorMessage}}
</div>
<h3>Hi {{currentUser}} - Active chat rooms</h3>
<div class="well">
	<ul ng-repeat="room in rooms">
		<li data-ng-show="notBanned(room)"><a href="#/room/{{currentUser}}/{{room}}" >{{room}}</a></li>
	</ul>
</div>

<input type = "text" class="form-control" id="roomName" name="roomName" data-ng-model="roomName" />
<button type="button" class="btn btn-primary" data-ng-click="createRoom()">Create new room</button>
