<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<div class="well">
		<ul>
			<li ng-repeat="message in messageHistory">[{{message.timestamp | date:'H:mm'}}] {{message.nick}}: {{message.message}} </li>
		</ul>
		<input type = "text" class="form-control" id="newMessage" name="newMessage" data-ng-model="newMessage" />
		<button type="button" class="btn btn-primary" data-ng-click="sendMessage()">Send</button>
		<button type="button" class="btn btn-primary" data-ng-click="backToRooms()">Back to Rooms</button>
		<button type="button" class="btn btn-primary" data-ng-click="back()">Back</button>
	</div>
</div>
<div class="col-md-3">
	<h4>Operators</h4>
	<div class="well">
		<ul>
		    <li ng-repeat="op in currentOps"><a href="#/privateRoom/{{op}}">{{op}}</a></li>
		</ul>
	</div>
	<h4>Users in this room</h4>
	<div class="well">
		<ul>
			<li ng-repeat="user in currentUsers"><a href="#/privateRoom/{{user}}">{{user}}</a> <a data-ng-click="kickUser(user)">Kick</a> <a data-ng-click="banUser(user)">Ban</a></li>
		</ul>
	</div>
</div>