<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<div class="well">
		<ul>
			<li> First message </li>
			<li ng-repeat="message in messageHistory">{{message}}</li>
		</ul>
		<input type = "text" class="form-control" id="newMessage" name="newMessage" data-ng-model="newMessage" />
		<button type="button" class="btn btn-primary" data-ng-click="sendMessage()">Send</button>
	</div>
</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}</li>
		</ul>
	</div>
</div>